$oxanium: 'Oxanium';
$basker: 'Libre Baskerville' ;
$roboto: 'Roboto' ;
$slab: 'Roboto-slab';
$open: 'Open Sans';
#portfolioDiv {
    background-color: #606dbc;
    border-radius: 18px;
    margin: 120px 0 15px 0;
    padding: 125px 0 200px 0;
}

#outer-portfolio {
    position: relative;
    z-index: 1;
}
#portfolioHeader {
    text-align: center;
    text-transform: uppercase;
    color: #f4f4f4 !important;
    padding-top: 35px;
}

.other {
    background-color: #5764ba;
    margin: 0 auto;
    width: fit-content;
    padding: 25px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: #f8f8f8;

    }
}

@media only screen and (max-width: 768px) {
    #portfolioDiv {
        margin-top: 150px;
        padding-top: 0;
    }

    #portfolioHeader {
        margin-top: 170px;
    }
}
