$bubble: #606dbc;

#footerDiv {
    margin-top: 150px;
    display: flex;
    background-color: #333;
    align-content: center;
    justify-content: center;
    margin-bottom: 0;
    height: 70px;

    section {
        height: 100%;
    }

    h1 {
        display: flex;
        align-items: center;
        color: #6666;
        justify-self: center;
        height: 100%;
        margin: 0 !important;
        text-transform: capitalize;
        font-style: italic;

        span {
            text-transform: uppercase;
        }
    }
}

.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #e4e4e4;
    width: 100%;
    margin: 225px auto 0;
    background: #f4f4f4;
    transform: skewy(15deg);
    position: relative;
    z-index: -5;
    bottom: 100px;
    height: 900px;
    section {
        transform: skewy(-15deg);
        width: 100%;
        background-color: #f4f4f4;
        border-radius: 18px;
    }

    button:hover  {
        
        background: $bubble;
        border-color: $bubble;
    }

    h1 {
        margin: 50px 0;
    }
}

#svgDiv {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    margin: 50px auto;
}

#last {
    width: 100%;
    height: 300px;
    background-color: $bubble;
    border-radius: 18px;
    position: relative;
    top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    h1 {
    font-size: 1.5em;
    }
}

#resume {
    padding: 0 0 200px 0;
}

@media only screen and (max-width: 1280px) {
    .resume {
        transform: skewy(20deg);

        section {
            transform: skewy(-20deg);
            bottom: 10px;
            position: relative;
        }
    }

}
@media only screen and (max-width: 768px) {
    #last {
        top: -90px;
    }
    .resume {
        width: 100%;
        margin-top: 85px;

        section {
            bottom: 0px;
            max-height: 395px;
        }
    }
}